# ビルド成果物
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
ipch/

# ビルドフォルダ
x64/
x86/
Release/
Log*.txt

# デバッグ用


# DxLib
!DxLib*.dll
!DxLib*.lib
!DxLib_x64/
!DxLib_x86/


